<h1>¿Quieres convertirte en premium?</h1>
<p>
    Para ser premium tienes que pagar mediante Stripe una mensualidad de 9,99€ las ventajas son las siguientes:
</p>
<ul>
    <li>Buscas entre todos los alumnos de la aplicación</li>
    <li>Filtrar por Familia profesional, Tipo de ciclo, Ciclos y Provincias</li>
    <li>Enviara un mensaje personalizado al alumno en la aplicación movil</li>
</ul>
<div fxLayout="row" fxLayoutAlign="end none" >

    <div mat-dialog-actions >
        <button mat-button (click)="close()">No, por ahora no</button>
        <button mat-button (click)="crearsub()" >Sí</button>
    </div>
</div>