<form [formGroup]="formGroup">

    
    <h1>Mensaje para el alumno</h1>
    <div fxLayout="column">
        </div>
        <div fxLayout="row" style="padding-bottom: 30px;">
            <mat-form-field fxFlex="">

                <textarea  matInput formControlName="mensajectrl" required [(ngModel)]="msg" fxFlex=""></textarea>
            </mat-form-field>
            
        </div>
        <a mat-flat-button color="primary" (click)="enviarMensaje()" routerLinkActive="active" class="btn-block">Enviar Correo</a>

</form>