<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Cambiar Contraseña</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-stepper orientation="vertical" [linear]="true" #stepper>
            <mat-step [editable]="step" [stepControl]="firstFormGroup" label="Enviar codigo de verificacion">
              <form [formGroup]="firstFormGroup">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" [(ngModel)]="email" matInput [formControl]="emailFormControl" formControlName="emailCtrl" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <div>
                  
                  <button mat-button (click)="sendemail(stepper)">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [editable]="step" [stepControl]="secondFormGroup" label="Verificar Codigo" >
              <form [formGroup]="secondFormGroup">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Codigo</mat-label>
                  <input [(ngModel)]="code" matInput [formControl]="codeFormControl" formControlName="codeCtrl" placeholder="000000">
                  <mat-error *ngIf="codeFormControl.hasError('required')">
                    Code is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <div>
                  <button mat-button (click)="codeVerify(stepper)">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [editable]="!step" [stepControl]="thirdFormGroup" label="Restaurar Contraseña">
              <form [formGroup]="thirdFormGroup">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input [(ngModel)]="password" matInput type="password" [formControl]="PasswordControl" required formControlName="Password">
                    <mat-error *ngIf="PasswordControl.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>

                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Repetir Contraseña</mat-label>
  
                    <input [(ngModel)]="confirmpassword" matInput type="password"  [formControl]="confirmPasswordControl"required formControlName="confirmPassword">
                    <mat-error *ngIf="confirmPasswordControl.hasError('required')">
                      Confirm Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                <div>
                  <button mat-button (click)="changepassword()">Next</button>
                </div>
              </form>
            </mat-step>
          </mat-stepper>

      </mat-card-content>
    </mat-card>
  
  </div>